@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1900px) {
    .mobile{
        display: none;
    }
}

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 776px) {
    .container{
        max-width: none;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 450px){
    .pc{
        display: none;
    }
    .mobile{
        display: block;
    }
}




nav{
    margin-top: 25px;
}

.navbar__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 58px;
}

.navbar__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    column-gap: 20px;
}

.navbar__blocks__item{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

.navbar__blocks__item img{
    width: 33px;
    height: 33px;
}

.navbar__blocks__item p{
    text-align: center;
}

.hero__item{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hero__item__title{
    font-size: 21px;
    font-weight: 500;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Inter', sans-serif;
}

.hero__contents__block{
    overflow: hidden; 
    width: 280px;
    /* margin-right: 20px; */
}

.hero__contents__block__img img{
    width: 280px; 
    height: 280px;  
    border-radius: 8px; 
    object-fit: cover;
    margin-bottom: 7.5px;
}

.hero__contents__block p{
    font-size: 14px;
    margin-bottom: 7.5px;
    color: rgb(54, 54, 54);
}

.hero__contents__block span{
    margin-bottom: 7.5px;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.hero__contents{
    max-width: 100%;
    grid-row-gap: 32px;
    grid-column-gap: 16px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}

/* .hero__contents__block__img{
    overflow: hidden;
    transition-duration: 0.5s;
    cursor: pointer;
}

.hero__contents__block__img:hover{
    opacity: 0.7;
} */


.hero__contents__block__img{
    background-color: #000;
    border-radius: 8px;
    height: 280px;
    transition-duration: 0.3s;
    margin-bottom: 10px;
}

.hero__contents__block__img img{
    transition-duration: 0.3s;
}

.hero__contents__block__img:hover img{
    opacity: 0.9;
    cursor: pointer;
}


.load__more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 30px 0px;
}

.load__more button{
    border: 3px solid #131313;
    background-color: initial;
    color: #131313;
    font-weight: 500;
    padding: 13px 73px 13px 73px;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    margin-top: 50px;
    background-color: rgba(34,34,34,.12);
    padding: 73px 0px 73px 0px;
}

.footer__item__nav{
    display: flex;
    justify-content: space-between;
}

.footer__navigation li{
    list-style-type: none;
    margin-bottom: 33px;
}

.footer__navigation::first-line{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    font-size: 24px;
}

.footer__end__nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.footer__end{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


/* Mobile version */

.navbar__mobile__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
}

.mobile__logo{
    width: 170px;
    height: auto;
}

.content__mobile{
    margin-top: 15px;
}

.hero__image__mobile{
    display: flex;
    justify-content: center;
}

.hero__nav{
    margin-top: 30px;
    margin-left: 10px;
}

.hero__nav__item{
    border: 3px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 80px;
    font-weight: 500;
}

.hero__nav__item__sign{
    background-color: #DBFF00;
    border: 3px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 80px;
    font-weight: 500;
    margin-left: 10px;
}

.hero__contents__mobile{
    max-width: 100%;
    grid-row-gap: 32px;
    grid-column-gap: 0px;
    display: grid;
    grid-auto-flow: dense;
    /* margin: 50px 10px; */
    margin-top: 50px;
    margin-left: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.content__block__img img{
    width: 180px; 
    height: 180px;
    border-radius: 8px; 
    object-fit: cover;
    margin-bottom: 7.5px;
}

.content__block p{
    font-size: 14px;
    margin-bottom: 10px;
    color: #222;
}

.content__block span{
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
}



.navbar__mobile {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the links inside the navigation bar */
  .navbar__mobile a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar__mobile a:hover {
    background-color: #ddd;
    color: black;
  }


  .svg__icons{
    max-width: 28px;
    height: 28px;
  }

.load__more__mobile{
    margin-bottom: 35px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.load__more__mobile button{
    border: 3px solid black;
    border-radius: 8px;
    font-weight: 500;
    background-color: initial;
    padding: 10px 50px 10px 50px;
}

.footer__mobile{
    background-color: rgba(34,34,34,.12);
    padding: 30px 20px 30px 20px;
}

.footer__mobile__end{
    margin-bottom: 100px;
}

.footer__mobile__end p{
    margin-bottom: 10px;
}


.hero__contents__block button{
    margin-top: 13px;
    font-weight: 700;
    border: 3px solid black;
    /* background-color: #cc290a; */
    background-color: initial;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}

.hero__contents__block button:hover{
    border: 3px solid rgb(55, 55, 55);
    color: rgb(55, 55, 55);
}

.hero__contents__block a{
    text-decoration: none;
    color: black;
}

.content__block button{
    margin-top: 13px;
    font-weight: 700;
    border: 3px solid black;
    /* background-color: #cc290a; */
    background-color: initial;
    border-radius: 80px;
    color: black;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.hero__pages{
    margin-top: 35px;
    margin-bottom: 30px;
}

.back__arrow{
    display: flex;
    align-items: center;
}

.back__arrow a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.back__arrow a:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.wrapper__title{
    margin-top: 35px;
}

.wrapper__left{
    overflow: hidden;
    width: 550px;
}

.wrapper__left__items{
    border-radius: 8px;
    height: 500px;
    margin-bottom: 10px;
}

.wrapper__left__items img{
    width: 550px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 7.5px;
}

.zago{
    font-size: 40px;
}


.wrapper__right{
    width: 650px;
    height: auto;
}

.wrapper__items{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    row-gap: 30px;
}

.wrapper__colors span{
    font-size: 20px;
    margin-right: 5px;
}

.wrapper__price{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wrapper__price p{
    font-size: 28px;
    font-weight: 700;
    color: gray;
    text-decoration: line-through;
}

.main__price{
    font-size: 43px;
    font-weight: 700;
}

.line__price{
    font-size: 40px;
    color: green;
    font-weight: 700;
}

.wrapper__buttons{
    display: flex;
}

.button__busket{
    width: calc(50% - 4px);
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    border-radius: 80px;
    border: none;
    background-color: #222;
    color: white;
    font-weight: 700;
    font-size: 27px;
    margin-right: 10px;
}

.button__buy{
    width: calc(50% - 4px);
    box-sizing: border-box;
    padding: 20px 0px 20px 0px;
    border-radius: 80px;
    border: none;
    background-color: #DBFF00;
    color: black;
    font-weight: 700;
    font-size: 27px;
}








/* Carousel */


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .wrapper__order h3{
    font-size: 32px;
    margin-bottom: 15px;
  }

  .wrapper__order p{
    line-height: 30px;
    margin-bottom: 30px;
  }